/* #AboutMe img {
    
     object-fit: contain; 
     height:500px; 
    
     display: block;
     /* margin: 0 auto; */
    
    /* margin-left: 100px; */
    /* float: left;  
    width: 50%; 
} */

.container {
    display: block;
}

.IconFooter {
   /* position: relative; */
   /* left: 0;
   bottom: 0; */
   width: 100%;
   background-color: white;
   color: grey;
   text-align: center;
   margin-right: 20px;
   padding-right: 20px;
   display: inline-block;
}

.info {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 32px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 50px
}


 .profile-pic {
     object-fit: contain;
     height:500px; 
     width: 500px;
     margin-left: 10px;
     margin-right: 20px;
     float: left;
    border-radius: 50%;
    /* margin-bottom: 100px; */
    padding-left: 20px;

} 

.MyName {
    font-family: "URW Chancery L", cursive;
    font-size: 25px;
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #DB2323;
  color: white;
  width: 150px;
  padding: 20px;
  font-size: 20px;
  /* border: none; */
    
  font-weight: bold;
  font-size: 150%;

    
  border: 1px solid #3366cc;
  border-radius: 10px;
  -moz-box-shadow:: 6px 6px 5px #999;
  -webkit-box-shadow:: 6px 6px 5px #999;
  box-shadow:: 6px 6px 5px #999;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    
 text-align: center;
 font-family: "Verdana", Geneva, sans-serif	;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #b51b1b;}

input.MyButton {
margin-right: 5px;
float: right;
    
width: 150px;
padding: 20px;
cursor: pointer;
font-weight: bold;
font-size: 150%;
background: #DB2323;
color: #fff;
border: 1px solid #3366cc;
border-radius: 10px;
-moz-box-shadow:: 6px 6px 5px #999;
-webkit-box-shadow:: 6px 6px 5px #999;
box-shadow:: 6px 6px 5px #999;
}
input.MyButton:hover {
color: #fff;
background: #b51b1b;
border: 1px solid #fff;
}


input.TrackerButton, input.WebsiteButton {
    background: #27CDE6;
    color: #fff;
    width: 300px;
    padding: 25px 50px;
    
    border: 1px solid #3366cc;
    border-radius: 10px;
    
    text-align: center;
    font-family: 'Arial'; 
    font-size: 20px; 


    
    /* width: 100px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #DB2323;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
    -moz-box-shadow:: 6px 6px 5px #999;
    -webkit-box-shadow:: 6px 6px 5px #999;
    box-shadow:: 6px 6px 5px #999;
    */
}

input.TrackerButton:hover, input.WebsiteButton:hover {
    color: #fff;
    background: #1591A4;
    border: 1px solid #fff;
}

.CenterButton {
    text-align: center;
}

.heading {
    padding-top: 100px;
    text-align: center;
    font-family: "American Typewriter", serif;
    font-size: 24px;
}

.ProjectTitle {
    text-align: center;
}

.description {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 100px;
    padding-right: 100px;

}

