#AboutMe img {
    
     object-fit: contain; 
     height:500px; 
    
     display: block;
     /* margin: 0 auto; */
    
    /* margin-left: 100px; */
    
     float: left;  
    width: 50%;
}

.info {
    /* float: left; */
}

.container {
    display: block;
    /* float: right; */
    
}

#AboutMe p {
   
    /* float: right; */

}

  #lab_footer {
    padding: 40px 0;
    background-color: #FC02F9;
    max-width: 100%;
  }

  #lab_footer a {
    color: #333;
    margin: 10px;
  }

