<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style.css"
  
<head>
  <title> {{ page.title }} </title>
    <script src="https://kit.fontawesome.com/6073df22a0.js" crossorigin="anonymous"></script>

</head>

<body>

  <!--Project Button-->
  <div class="dropdown">
    <button class="dropbtn">Projects</button>
    <div class="dropdown-content">
      <a href="https://skapur12.github.io/code.html">Code</a>
      <a href="https://skapur12.github.io/design.html">Design</a>
    </div>
  </div>
  
 <!-- New Home Button-->
<form>
  <input class="MyButton" type="button" value="Home" onclick="window.location.href='https://skapur12.github.io/'"/>
</form>
  
  		<div class="container1">
			
			  {{ content }}
			
		</div><!-- /.container -->

  
    <section id="lab_footer">
    <div class="IconFooter">
      <div style="text-align: center">
            <a href="https://www.dropbox.com/s/q5rkqaoe5v5819u/Sanjana%20Kapur-%20Resume.pdf?dl=0" target="_blank"><i class="far fa-file fa-4x" style="color:green"></i>
            <a href="mailto:sanjana.kapur@gatech.edu" target="_blank"><i class="far fa-envelope fa-4x" style="color:black"></i></a></li>
            <a href="https://github.com/skapur12" target="_blank"><i class="fab fa-github fa-4x" style="color:blue"></i></a></li>
            <a href="https://www.linkedin.com/in/skapur12/" target="_blank"><i class="fab fa-linkedin fa-4x" style="font-size:48px;color:red"></i></a></li>  
            <br>
            <p>Copyright © 2019 Sanjana Kapur. All rights reserved.</p>
      </div>

     </div>

 </section>

  
</body>
</html>

